@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
}


.gradient {
    font-size: 5vw;
    width: 100%;
    text-align: center;
    background-image: linear-gradient(45deg, #ff1100, #008eff, #3fff00);

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    text-transform: uppercase;
}
